<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'export_page.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <title>Export data</title>
</head>

<header>
    <div class="actions">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('table') }}">Table</a>
        <a href="{{ url_for('tracking') }}">Tracking</a>
        <a href="{{ url_for('chart') }}">Dashboard</a>
        <a href="{{ url_for('export_page') }}">Export</a>
        <a href="#" style="padding: 1px;" onclick="openLogoutModal()"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="white"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg></a>
    </div>
</header>

<body>
    <div class="info">
        <h1>Export data:</h1>
        <p>
            Hi! Here you can export all your transaction data. Choose your preferred format to download.
        </p>

        <ul>
            <li>Click <strong>EXPORT (.CSV)</strong> to download a file in ".csv" format.</li>
            <li>Click <strong>EXPORT (.XLSX)</strong> to download a file in ".xlsx" format.</li>
            <li>Choose your preferred format below.</li>
        </ul>
    </div>
    <div class="export">
        <a href="{{ url_for('csv_export') }}">Export (.csv)</a>
        <a href="{{ url_for('xlsx_export') }}">Export (.xlsx)</a>
    </div>

    <!-- Окно подтверждения выхода -->
    <div class="confirm_logout" id="logout">
        <div class="content">
            <h2>Выйти с аккаунтта?</h2>
            <button onclick="logout()">Выйти</button>
            <button onclick="closeLogoutModal()">Отмена!</button>
        </div>
    </div>

</body>
</html>