<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'export_page.css') }}">
    <title>Export data</title>
</head>

<header>
    <div class="actions">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('table') }}">Table</a>
        <a href="{{ url_for('tracking') }}">Tracking</a>
        <a href="{{ url_for('chart') }}">Dashboard</a>
        <a href="{{ url_for('export_page') }}">Export</a>
    </div>
</header>

<body>
    <div class="info">
        <h1>Export data:</h1>
        <p>
            Hi! Here you can export all your transaction data. Choose your preferred format to download.
        </p>

        <ul>
            <li>Click <strong>EXPORT (.CSV)</strong> to download a file in ".csv" format.</li>
            <li>Click <strong>EXPORT (.XLSX)</strong> to download a file in ".xlsx" format.</li>
            <li>Choose your preferred format below.</li>
        </ul>
    </div>
    <div class="export">
        <a href="{{ url_for('csv_export') }}">Export (.csv)</a>
        <a href="{{ url_for('xlsx_export') }}">Export (.xlsx)</a>
    </div>
</body>
</html>