<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <title>Финансовый менеджер</title>
</head>
<body>
    
    <div class="header">
        <h1>Finance Manager</h1>
        <div class="balance">
            Balance: 1000$
        </div>
    </div>

    <div class="actions">
        <button id="create_btn">Create transaction</button>
        <button onclick="alert('Eidt transaction')">Edit transaction</button>
        <button onclick="alert('Delete transaction')">Delete transaction</button>
    </div>

    <div class="transactions">
        <table>
            <tr>
                <th>Category</th>
                <th>Status</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.category }}</td>
                <td>{{ transaction.status }}</td>
                <td>{{ transaction.name }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.date_added.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
    <div id="new_transaction" class="modal">
        <div class="modal-content">
            <h3>Create transaction</h3>
            <form id="transaction_form" method="POST" action="{{ url_for('add_transaction') }}">
                <label for="status">Status:</label>
                <select name="status" id="status" required>
                    <option value="Income">Income</option>
                    <option value="Outcome">Outcome</option>
                </select>
    
                <label for="category">Category:</label>
                <select name="category" id="category">
                    <option value="Work">Work</option>
                    <option value="Auto">Auto</option>
                    <option value="Vacation">Vacation</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="Walk">Walk</option>
                    <option value="Help">Help</option>
                    <option value="Credit">Credit</option>
                    <option value="Luck">Luck</option>
                    <option value="Market">Market</option>
                    <option value="For Home">For Home</option>
                    <option value="Other">Other...</option>
                </select>
    
                <label for="name">Name:</label>
                <input placeholder="Name..." type="text" id="name" name="name" required>
    
                <label for="description">Description:</label>
                <input type="text" placeholder="Description..." name="description" id="description" required>
    
                <label for="amount">Amount:</label>
                <input placeholder="Sum..." type="number" id="amount" name="amount" required>
    
                <button type="submit" class="submit-btn">Submit</button>
                <button class="modal-close" onclick="closeModal()">Close</button>
            </form>
            
        </div>
    </div>
    



</body>
</html>